@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

body {
	font-feature-settings: "rlig" 1, "calt" 1;
	color: hsl(var(--foreground));
	min-height: fit-content;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--foreground: 222.2 47.4% 11.2%;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--card: 0 0% 100%;
		--card-foreground: 0 10% 10%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 10% 10%;
		--primary: 180 8% 66%;
		--primary-foreground: 0 10% 10%;
		--secondary: 240 7% 81%;
		--secondary-foreground: 0 10% 10%;
		--muted: 0 0% 20%;
		--muted-foreground: 0 10% 70%;
		--accent: 180 8% 41%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 0 10% 10%;
		--border: 0 0% 20%;
		--input: 0 0% 20%;
		--ring: 180 8% 40%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 0 10% 90%;
		--card: 0 0% 0%;
		--card-foreground: 0 10% 90%;
		--popover: 0 0% 0%;
		--popover-foreground: 0 10% 90%;
		--primary: 180 8% 34%;
		--primary-foreground: 0 10% 90%;
		--secondary: 240 7% 19%;
		--secondary-foreground: 0 10% 90%;
		--muted: 0 0% 80%;
		--muted-foreground: 0 10% 90%;
		--accent: 180 8% 59%;
		--accent-foreground: 0 0% 0%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 0 10% 10%;
		--border: 0 0% 60%;
		--input: 0 0% 80%;
		--ring: 180 8% 60%;
	}
}

.center-children {
	@apply flex items-center justify-center;
}

h1.test {
	background: linear-gradient(165deg, #fff 195px, #000 195px) fixed;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}
